button.h5p-core-button:visited,
button.h5p-core-button:link,
button.h5p-core-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em 1.25em;
  border-radius: 2em;

  background: #2579c6;
  color: #fff;

  cursor: pointer;
  border: none;
  box-shadow: none;
  outline: none;

  display: inline-block;
  text-align: center;
  text-shadow: none;
  vertical-align: baseline;
  text-decoration: none;

  -webkit-transition: initial;
  transition: initial;
}
button.h5p-core-button:focus {
  background: #a82f1f;
  /*changer background: #1f67a8*/
}
button.h5p-core-button:hover {
  /*background: rgba(31, 103, 168, 0.83);*/
  background: #a82f1f;

}
button.h5p-core-button:active {
  background: #a82f1f;

  /*background: #104888;*/
}
button.h5p-core-button:before {
  font-family: 'H5P';
  padding-right: 0.15em;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 0.7;
  background: #a82f1f;

}
button.h5p-core-cancel-button:visited,
button.h5p-core-cancel-button:link,
button.h5p-core-cancel-button {
  border: none;
  background: none;
  color: #a00;
  margin-right: 1em;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}
button.h5p-core-cancel-button:hover,
button.h5p-core-cancel-button:focus {
  background: none;
  border: none;
  color: #e40000;
}

/*ajout suplementaire nadira : cacher les boutons de validation... */

div.h5p-question-buttons.h5p-question-visible
{
  background-color:rgb(255, 255, 255);
  display: center; /*pour que le bouton occupe toute la largeur de son conteneur*/
  margin: 0 auto; /*pour centrer le bouton horizontalement*/
  padding: 10px 20px; /*pour allonger le bouton*/
}

path.h5p-joubelui-score-bar-star-fill-full-score{
background-color: #0920f3;
color: #e40000;

}

button.h5p-question-check-answer{

  background-color:rgba(65, 161, 9, 0.863);
  /* display: flex; /*pour que le bouton occupe toute la largeur de son conteneur*/
  /*margin-left: 50%; /*pour centrer le bouton horizontalement*/
  padding: 10px 700px; /*pour allonger le bouton*/
  border-color: #0920f3;
  border-style: double;
  padding-left: 20px; /* définir un padding pour ajouter de l'espace pour l'icône */
  

}



audio {
  width: 700px;
  height: 54px;
  background:black;
  

  
}
audio::after {
  content: "\f025"; /* code de l'icône fa-headphones */
  font-family: FontAwesome;
  padding-right: 10px;
}


div.h5p-question-scorebarh5p-question-visible{
background-color: #a00;
}

div.h5p-joubelui-score-bar{
 
  visibility: hidden;
}

div.h5p-draggable.ui-draggable.ui-draggable-handle.h5p-advanced-text.h5p-dropped.ui-draggable-disabled.h5p-wrong{
  background-color: rgb(114, 111, 112)
}

div.h5p-draggable.ui-draggable.ui-draggable-handle.h5p-advanced-text.h5p-dropped.ui-draggable-disabled.h5p-correct{
  background-color: rgb(114, 111, 112);
  padding-left: 20px; /* définir un padding pour ajouter de l'espace pour l'icône */
  background-image: url('h5p/h5plib/v124/joubel/core/images/oreille.png'); /* ajouter l'image d'icône comme arrière-plan */
  
}
  
  div.h5p-dragquestion .h5p-draggable.h5p-correct:after, .h5p-dragquestion .h5p-draggable.h5p-wrong:after{
   
    visibility: hidden;

}
p{
  color:black
}

div.h5p-multichoice .h5p-answer.h5p-correct .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-correct:hover .h5p-alternative-container{
  background-color: rgb(114, 111, 112);
  padding-left: 20px; /* définir un padding pour ajouter de l'espace pour l'icône */
  background-image: url('h5p/h5plib/v124/joubel/core/images/oreille.png'); /* ajouter l'image d'icône comme arrière-plan */
  
}


div.h5p-multichoice .h5p-answer.h5p-wrong .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-wrong:hover .h5p-alternative-container{
  background-color: rgb(114, 111, 112);
  font-family: 'FontAwesome';
  content: "\f007"; /* code de caractère pour l'icône */
}

div.h5p-multichoice .h5p-answer.h5p-correct .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-correct:hover .h5p-alternative-container{
  color:black;
}
div.h5p-multichoice .h5p-answer.h5p-wrong .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-wrong:hover .h5p-alternative-container{
  color:black;
}

div.h5p-multichoice .h5p-answer-icon{
  font-family: none;
}

span.h5p-input-wrapper input.h5p-text-input::after{
  /*background-color: #1947c7;*/  
  text-decoration: line-through;
  background-color: #a00;
}

/* INPUT APRES MAUVAISE REPONSE */

.h5p-blanks .h5p-wrong input.h5p-text-input {
background-color:rgb(190, 185, 187);
text-decoration: none;
color: black;
}
/*  LA PETITE CROIX DE LA MAUVAISE REPONSE */
div.h5p-blanks .h5p-wrong:after {
  content:none;  
}

/* les fleches des quizz */

a.h5p-question-next.h5p-joubelui-button{
  background-color: #e40000;
}

button.h5p-question-finish.h5p-joubelui-button{
  background-color:rgba(65, 161, 9, 0.863);
  padding: 1em 5em;
}

/* cliquer sur les mots identités */
/*les deux commandes suivantes ne fonctionne pas */
div.h5p-word-selectable-words{
  color:#0920f3;

}

div.h5p-mark-the-words .h5p-description-incorrect {
  background-color: #0004e4;
}

