.btn.btn-link {
    color: yellow;
    background-color: darkgreen;
    font-size: larger;
  }
  #next-activity-link {
    color: yellow;
  }

//content centrale :
.pagelayout-standard #page.drawers.main-inner, body.limitedwidth #page.drawers .main-inner {
    max-width: 1800px; 
}

.h5p-question-buttons{
color: palevioletred;

} 

.h5peditor.ui-dialog.h5p-joubelui-button.h5peditor.h5p-joubelui-button.h5p-joubelui-button{
    
background-color: crimson;

    } 

div.h5p-question-buttons.h5p-question-visible{

        background-color:crimson;
}

#page{
    max-width: 100%;
}


#region-main{
    opacity: 0.9;
}
.h5p-joubelui-score-bar{
    color: pink;
}

.h5p-question-check-answer.h5p-joubelui-button{
    color:chartreuse;
}


/* #page-content{
background-color: crimson;
min-width: 1800px;
} */

/* #region-main-box{
    background-color: blue;

} */

#page-mod-quiz-attempt #region-main {
   // background-color: chartreuse;
    max-width: 100%;

}
/*  element.style {  

#topofscroll.main-inner{
    margin-right: 0px;
}} */
//

div.ablock{
   // #yui_3_17_2_1_1673941578802_302{
  //  background-color: rgb(255, 0, 98);
    column-count: 3;
    column-fill: auto;
    column-gap: 5%;
    -webkit-column-break-before: auto;    
}





/* div#page.drawers.drag-container{
background-color: darkolivegreen;
margin: 100px;
} */

/* div#topofscroll.main-inner{
    background-color: aqua;
    padding: 0px;
} */



form.guestlogin{ 
visibility:hidden;     
} 

.im-controls{
    visibility:hidden;     

}

.activityiconcontainer.assessment {
    background-color: rgb(56, 172, 105)};

body{
   font-family: montserrat, sans-serif;
   font-size: larger;
    //font-family: poppins;

}

div.card-body{
text-align: center;
border-color: $primary;
border-style: double;

} 

div.card.dashboard-card{
    border-color: $primary;
    border-style: double;
    margin:10px;
    text-align: auto;
    position:center;

} 


div.card-body.p-3{
    text-align: center;
   border:hidden;
}

    /* .navbar fixed-top navbar-light bg-white navbar-expand
    #e6e6ed */


/* div#page-wrapper{
    background-color: aqua;
} */
.bg-white {
   // background-color:  rgb(230, 230, 237)!important; 
    background-color:  rgb(247, 247, 247)!important; 
}

body{
    background-color:  rgb(230, 230, 237)!important; 
}


/* div.ablock {
        background-color: rgb(255, 0, 191);

    } */
 
/* div.formulation.clearfix {
    background-color: rgb(241, 238, 25);
    width: 100%;

} */
/* div#page.drawers.drag-container{
padding: 0px 0px;
column-width: 15px;
}
 */


/*
div#region-main-box{
    background-color: blueviolet;
}
/* 
#topofscroll{
    margin:0px
       }
#yui_3_17_2_1_1673870956360_152
/* div#topofscroll.main-inner{
        background-color: chartreuse;
       }
  */
/* 
BARRE DE NAVIGATION :
  #page.drawers::-webkit-scrollbar-thumb {
    background-color: $primary;
  } */

  #page.drawers::-webkit-scrollbar{
    width: 20px;}


/* #question-119-1 div.content div div.ablock table tbody tr:nth-child(1){
    background-color: chartreuse;
    vertical-align: auto;
} */



tr{
    vertical-align:baseline;
    background-color: $blue;
}

/* td.text td.control{
    background-color: crimson;
    vertical-align: text-bottom;
    //vertical-align: auto;
} */
/* 
td#yui_3_17_2_1_1674489913920_152{
    background-color: aqua;
} */


