/* $primary: rgb(155, 38, 200);
$secondary:rgb(0, 145, 196); */

$red:#D61100 ;
$black:#666666 ;
$violet:rgb(155, 38, 200);
//$blue: rgb(0, 145, 196);
$green: rgb(56, 172, 105);
$gray-400: rgb(102, 102, 102);

$primary:       $violet ;
$secondary:     $blue;
$success:       $green ;
$info:          $blue ;
//$warning:       $red ;
$danger:        $red ;








/* 
bleu foncé sur le site educalis
30, 73, 152



bleu foncé sur le site educalis
0, 145, 196 */